#cart_page{
    margin-top: 100px;
}
#cart_page h1{
    padding-bottom: 30px;
}
.cart_card{
    padding: 20px;
    box-shadow: 1px 4px 7px var(--third-color);
    margin: 10px 0;
    border-radius: 15px;
}