#footerUp li{
    list-style: none;
    font-size: 14px;
}

#wid_20{
    width: 20%;
}
#mainFooter h6{
    font-size: 15px;
}
#mainFooter ul{
    padding-left: 0;
}
#mainFooter ul li a{
    font-size: 14px;
    text-decoration: none;
    color: var(--first-color);
}


#moreWay{
    font-size: 14px;
}
#privacySection{
    font-size: 14px;
}
#privacySection ul li{
    display: inline-block;
    padding-left: 15px;
}
#privacySection ul li a{
    text-decoration: none;
    color: var(--first-color);
}
#privacySection ul li:first-child{
    padding-left: 0;
}
#usa a{
    text-decoration: none;
    color: var(--first-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px){
    #wid_20{
        width: 100%;
    }
    #privacySection{
        text-align: center !important;
    }
    #privacySection ul{
        padding-left: 0;
    }
    #usa {
        text-align: center !important;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #wid_20{
        width: 50%;
    }
    #privacySection{
        text-align: center !important;
    }
    #privacySection ul{
        padding-left: 0;
    }
    #usa {
        text-align: center !important;
    }
}